@model PulsNet.Web.Models.Mib
<div style="padding:24px">
<h1>Create MIB</h1>
<form method="post">
  <div><label>Name</label><input name="Name" value="@Model.Name" /></div>
  <div><label>Description</label><input name="Description" value="@Model.Description" /></div>
  <button type="submit">Create</button>
</form>
</div>